<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/change-password" method="post">
            <!-- Email Address Group -->
            <div class="form-group">
                <div class="input-wrapper">
                    <i class="fa-solid fa-envelope input-icon"></i>
                    <input 
                        type="hidden" 
                        id="email"
                        name="email" 
                        value="{{email}}"
                        placeholder="name@university.edu" 
                        required>
                </div>
            </div>
                <!-- ================= Password ================= -->
                <div class="input-group password-box">
                    <i class="fa-solid fa-lock input-icon"></i>
                    <input
                        type="password"
                        id="password"
                        name="new_password"
                        autocomplete="new-password"
                        placeholder=" "
                        required>
                    <label>
                        New Password
                    </label>
                    <span id="togglePassword">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                </div>

                <!-- ================= Password Strength ================= -->
                <div class="strength-wrapper">
                    <div class="strength-container">
                        <div
                            id="strengthBar"
                            class="strength-bar">
                        </div>
                    </div>
                    <span id="strengthText">
                        Password Strength
                    </span>
                </div>

                <!-- ================= Confirm Password ================= -->
                <div class="input-group password-box">
                    <i class="fa-solid fa-shield-check input-icon"></i>
                    <input
                        type="password"
                        id="confirm_password"
                        name="confirm_password"
                        autocomplete="new-password"
                        placeholder=" "
                        required>
                    <label>
                        Confirm Password
                    </label>
                    <span id="toggleConfirmPassword">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                </div>

                <button
                    type="submit"
                    class="register-button">
                    Change Password
                    <i class="fa-solid fa-arrow-right-long"></i>
                </button>                
    </form>
</body>
</html>